<html lang="vi">
    <head>
        
    </head>
    <body>
        <div id="header">
            <div id="header-top">
                <ul class="nav navbar-nav nav-top-left">

                </ul>
            </div>
            <div id="header-main">
            </div>
        </div>
        <div id="main">

        </div>
    </body>
</html>