<html lang="vi">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content=""
    </head>
    <body>
        <div id="header">
            <div id="header-top-bar" class="header-top-section navbar">
                <div class="container">
                    <ul class="nav navbar-nav nav-top-left">
                        <li class="phonenumber">
                            <img src="" alt="(+84) 828 171 364" />
                        </li>
                    </ul>
                </div>
            </div>
            <div id="header-main">
            </div>
        </div>
        <div id="main">

        </div>
    </body>
</html>